

body,
html {
    

}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    
}
a{ 

color: #9F004E;

}

b, strong {

    color: #26161d;
}

p {

   color: #26161d;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

body {

   height: 100%;
    overflow-x: hidden !important;
    width: 100%;

}

#wrapper {

    
   
}


#custom-nav {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-shadow: none;
    z-index: 1000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}

#custom-nav a {

    color: #ffffff;
    font-weight: bold;
    transition: color .5s ease-in-out, opacity .5s ease;
    text-decoration: none;


    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}



#custom-nav a:hover {

    color: #ACADAC;
    background: none;
  }


#custom-nav .container {
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
}

#custom-nav.affix {
    width: 100%;
    background-color: #9F004E;
    opacity: 1;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}

/*#custom-nav.affix a {
    color: #ffffff;
    transition: color .5s ease-in-out, opacity .5s ease;
}*/


#custom-nav.affix .container {
    padding-top: 8px;
    padding-bottom: 8px;

    
}

.navbar {

    height: 65px;
}

.navbar-default .navbar-toggle {
  border-color: transparent; /* Removes border color */
  float: right; /* Move navbar toggle to left */
  padding: 14px 16px 16px 16px;
  margin: 0;
  

}



.navbar-default .navbar-toggle:hover {

  background: none !important /* Changes toggle color on hover */

}



svg:hover #lines {

  fill: #ACADAC/* Changes toggle color on hover */

}




.navbar-default .navbar-toggle:active {
  background: none !important /* Changes toggle color on hover */

}

.navbar-default .navbar-toggle:focus {
  background: none !important /* Changes toggle color on hover */
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #9F004E; /* Black*/
    /* Disable horizontal scroll */
    overflow-x: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    white-space: nowrap;
    
    
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s

    
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #ACADAC;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation 
#main {
    transition: margin-left .5s;
    padding: 20px;
}*/






.icon-small
{
    height:18px;
    margin:0;
    padding:0;
    border: none;

}



.dropdown-toggle {
    background: none !important;


}

.dropdown-menu {

    background: #9F004E;
    border-radius: 4px !important;

}

.dropdown-menu:hover {
  
color: #9B054F !important;

}


.dropdown {
    padding-left: 32px;
}



.logo img {
    /*width: 32px;
    height: 32px;*/
    margin-top: -7px;
   

}




#contactbutton  {
    background: #9F004E;
    padding: 8px 16px;
    margin-top: 4px;
    margin-left: 16px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline: 0;


}



#contactbutton:hover a {
  background: white;
    
}



#contactbutton:active {
    
    transform:scale(0.98,0.98);
}



.loader {
    border: 2px solid #74093A; /* Light grey */
    border-top: 2px solid #f3f3f3; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(20deg); }
    100% { transform: rotate(360deg); }
}



.temp-img {

width: 100%;
height: 100%;
background: url(../img/backdrop.png) no-repeat center center;

}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 100px; 
    padding-bottom: 50px;
    
    color: #f8f8f8;
    /*background: url(../img/intro-bg.jpg) no-repeat center center;*/
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    height: 600px;
  

}


#video {

  /*color: #f8f8f8;*/
  /*padding-top: 100px*/; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  /*padding-bottom: 50px;*/
  position: absolute;
  top: 50%;
  left: 50%;

 /* max-height: 100vh;
  max-width: 100vh;*/
  height: auto;
  width: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  
  background-size: cover;
  min-width: 100%;
  min-height: 100%;


}

#video-overlay{
    /* taust-base: */
    background-image: linear-gradient(-130deg, #710D3C 0%, #9F1053 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.6;


}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    
    font-size: 42pt;
}

.intro-divider {
    width: 400px;
    border-top: 2px solid #f8f8f8;
    /*border-bottom: 2px solid rgba(0,0,0,0.2);*/
    margin-left: 0;
    margin-right: 0;
}

.intro-message > h3 {
    font-size: 24pt;
}



.about {
    /*background: #72083C;*/
    /*position: relative;*/
    /*top: -240px;*/
    width: 100%;
    height: 100%;
    background: url(/img/pattern-basket.svg) repeat  center center;
    color: white;
    /*box-shadow: 0 -8px 32px 0 rgba(0,0,0,0.40);*/
    padding-top: 50px;
    

}




.about-text  {

    /*width: 100%;*/
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;


}

.about-text p {

  color: white;


}

.about-logos  {

   /* width: 100%;*/
   padding-top: 32px;
  
}


.about-ttu-logo {

    position: relative;
    background-color: #F8F8F8;
    box-shadow: 0 2px 27px 0 rgba(0,0,0,0.30);
    border-radius: 4px 4px 0 0;
    width: 426px;
    height: 280px;
    /*padding: 16px 16px 32px 16px;*/
    bottom: -32px;
    /*margin: 0;*/
    z-index: 0;

}
.about-ttu-logo img {
padding: 75px 33px 50px 0px;

    
}

.logos {

    position: relative;
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    text-align: center;
    /*box-shadow: 0 2px 27px 0 rgba(0,0,0,0.30);*/
    -webkit-box-shadow: 0px -4px 27px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px -4px 27px rgba(50, 50, 50, 0.15);
    box-shadow:         0px -4px 27px rgba(50, 50, 50, 0.15);
    border-bottom: 1px solid #e7e7e7;
    z-index: 10;
    padding: 16px 16px 16px 16px;
}



.sponsors {

    /*position: relative;*/
    border-top: 1px solid #e7e7e7;
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    text-align: center;
    /*box-shadow: 0 2px 27px 0 rgba(0,0,0,0.30);*/
    border-bottom: 1px solid #e7e7e7;
    /*z-index: 10;*/
    padding: 16px 16px 16px 16px;
    overflow-x: auto;
}

.sponsors img {

    opacity: 0.2;
}


.img-sponsor {
    display: inline-block;
   
}

.img-logo {


    /*padding-right: 72px;*/
    opacity: 0.5;
    /*width: 32px;
    height: 32px;*/
    /*background-color: red;*/
     display: inline;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;  
}

.img-logo:hover {

    opacity: 1;
    /*transform:scale(1.020,1.020);*/
}



@media(max-width:767px) {
    .intro-message {
        top: 50%;
        bottom: 50%;
        text-align: center;
    }

    .intro-message > h1 {
        font-size: 32pt;
    }

    .intro-message > h3 {
        font-size: 24pt;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }



    .about-ttu-logo {

    width: 100%;
    bottom: 0px;

    }
    .response {
        font-size: 85%;
        width: 75%;
    }

    .logo img {

        margin-bottom: 7px;
    }


   /* .navbar-fixed-top {
        position: relative;
        top: auto;
    }

    .navbar-collapse {
        max-height: none;
    }*/
    
}






.page-loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1001;
    background: #710C3D;
}

#page-spinner {

    top: 50%;
    left: 50%;
    position: absolute;
    border: 2px solid #54092d; 
    border-top: 2px solid #f3f3f3; 
    border-radius: 50%;
    width: 72px;
    height: 72px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}


.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}





#services {
    position: relative;
    /*top: -382px;*/
}


.img-card {


    border-radius: 4px;
    box-shadow: 0 2px 27px 0 rgba(0,0,0,0.30);
    border-radius: 4px;
}


.img-logo {

padding: 16px;
margin: 0px;


}



.bold b  {

    color:#9B054F;
}



.content-section-a {
    position: relative;
    padding: 50px 0;
    z-index: 10;


}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8;

}

.basketball-illustration {
    
    
   /* top: 105%;
    left: 82%;*/
    position: absolute;
    padding: 16px;
    top: 239px;


}



.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 2px solid #9F004E;
}


.about-heading-spacer {
    position: absolute;
    float: right;
    width: 60px;
    border-top: 2px solid #9F004E;
    top: 135px;
    left: 165px;

}


#instafeed {

    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}

.instabar {

    /* Rectangle 15: */
    background: #800F43;
    width: 100%;
    height: 52px;
}

.instabar-bottom {

    /* Rectangle 15: */
    background: #800F43;
    width: 100%;
    height: 4px;
}

#instaicon {

    
    text-align: center;
    margin: 0 auto;
    padding: 16px;

}

.instaicon:hover a {

    color: #e7e7e7;
}

.instalink {

    color: white;
    font-size: 16px;;
    padding-left: 16px;
    line-height: 24px;
      

}


.instapic {

    width: 240px;
    height: 240px;
    object-fit: cover;

}

.instapic-box {

    position: relative;

    display: inline-block;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #9F004E;
}

.instapic-box:hover .overlay {
  opacity: 0.7;
}



.text {
  color: white;
  font-size: 16px;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: pre-wrap !important;
  padding-right: 8px;
  padding-left: 8px;

}




#contact {

    /*padding: 40px 16px 40px 16px;*/
    height: 550px;
    background: url(/img/contact.jpg) no-repeat center center;
    background-size: cover;

}

.contact {

    padding-top: 100px;

   /* Rectangle 3: */
    
}

.contact-punchline {
    /* padding-top: 103px;*/
}

.contact-form {
     max-width: 520px;
}




.form-area {
    padding: 8px;
    
    /* Rectangle 3: */
    background: #F8F8F8;
    box-shadow: 0 0 32px 0 rgba(62,51,56,0.50);
    border-radius: 4px;

    /*display: flex;
    justify-content: center;
    width: 100%*/

}



.form-control {

    background-color: white;
    border: 2px solid #ccc;
    border-radius: 2px;
    outline: 0;
    
}



.form-control:focus { 
    outline: none !important;
    border-color: #9F004E;
    
}


.forminput {

    padding: 8px 32px 8px 32px;
}

.contact-punchline {
   color: white;
}
.btn-ttu{

    background: #9F004E;
    padding: 8px 16px;
    /*margin-top: 4px;
    margin-left: 16px;*/
    border: 2px solid #9F004E;
    width: 72px;
    height: 40px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline: 0;
    font-weight: bold;
    color: white;


}

.response img {

/*background: url(../img/success.svg) no-repeat center center;
z-index: 2000
background-size: cover;*/
padding-right: 16px;
margin-bottom: 4px;

}


.response .response-text {

    color: #26161d;
    font-size: 120%;
    padding-top: 8px;
    display: inline-flex;

}

.btn-ttu:hover {

    background: #890243;
    /*outline: 0 !important;*/
    border: 2px solid #9F004E;

}


.btn-ttu:active {
    
    transform:scale(0.98,0.98);
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    #shards{

    position: absolute;
    z-index: -1;
    }

    .footer-social {
        padding-top: 32px;
        text-align: left;
    }

    .contact {

        padding-top: 32px;

    }

    .contact-punchline {

        top: 50%;
        bottom: 50%;
        text-align: center;
    }

    .basketball-illustration {
    
    
    display: none;


    }

   


}

.social-icons {

    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: left;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 32px 0 0;
}


.footer-details span {
    line-height: 32px;
    padding: 8px;
    
}

