    <!-- About Section -->
    <section id="about">
    
      <div class="about">
        <div class="container">
      

            <div class="row about-content">

              <div class="about-ttu-logo ">             
                     <img class="text-center center-block" src="../img/taltech.svg" alt="">
              </div>
            </div>


                
                <div class="row about-text">
                        
                        <h2>{{site.data.content.about}}</h2>
                             


              
                   
        </div>

        <div class="row about-text"><a href="/#contact" id="" class="btn-ttu center-block">
              <div id="btn-text">{{site.data.content.nav-contactbutton}}</div>
            </a></div>
          


     
                

               


              </div>
                
            



            </div>
       
        <!-- /.container -->

    
    </section>
