<!-- About Section -->
<section id="about">
  <div class="about">
    <div class="container">
      <div class="row about-row">

        <div class="col-sm-5 about-logo-col">
          <img class="about-mark" src="/img/taltech.svg" alt="TalTech Korvpallikool">
        </div>

        <div class="col-sm-7 about-copy">
          <h2>{{ site.data.content.about-heading }}</h2>
          <p>{{ site.data.content.about }}</p>
        </div>

      </div>
    </div>
    <!-- /.container -->
  </div>
</section>
