    <!-- About Section -->
    <section id="about">
    
      <div class="about">
        <div class="container">

            <div class="row about-content">

              <div class="col-md-6 col-lg-6 about-ttu-logo ">

                  
                
                     <img class="text-center center-block" src="../img/taltech.svg" alt="">
              
              
                </div>

                <div class="col-lg-6 col-sm-6 about-text">
                    <!-- <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{site.data.content.about-heading}}</h2>
                    <!-- <hr class="about-heading-spacer"> -->
                    <div class="lead"><p>
                  <!--   {{page.about}} --> </p>

                      
                      <p>{{site.data.content.about}}</p>

                    </div>
                

                </div>
                
            </div>

            </div>
        </div>
        <!-- /.container -->

    
    </section>
