<section id="contact">
	<!-- <div class="banner"> -->
		<div class="container contact">

			<div class="row">
						<div class="col-sm-6 text-left contact-punchline">
							<h2>{{site.data.content.contact-heading}}</h2>

								<h3> {{site.data.content.contact-sub}} </h3>
								<!-- <ul class="list-inline banner-social-buttons">
									{% for social in site.social %}
									<li>
										<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
									</li>
									{% endfor %}
								</ul> -->
							</div>



						<div class="col-sm-6 contact-form center-block">
							
						    <div class="form-area"> 
						    	
						        <form id="ttu-form" role="form">
						        <br style="clear:both">
				                    <!-- <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3> -->
				                    <div class="row">
				                    <!-- 	<div class="col-xs-6">
				                    		<div class="form-group">
												<input type="text" class="form-control" id="name" name="name" placeholder="Nimi" required>
											</div>
				                    	</div> -->

				                     
				                    	<div class="col-lg-12">
				                    		<div class="form-group">

				                    						<div class="row form-group forminput">

				                    							 <label for="location-interest">{{site.data.content.location-interest-description}}</label>
													    <select class="form-control" id="location-interest" name="Location" placeholder="{{site.data.content.choose}}" required oninvalid="this.setCustomValidity('{{site.data.content.location-missing}}')" oninput="setCustomValidity('')">


													      <option value="" selected disabled>{{site.data.content.choose}}</option>
													      {% for location in site.locations %}
													      <option>{{location.name}}</option>
													      {% endfor %}
													    </select>


														</div>



														<div class="row">
				                    						<div class="col-lg-6 form-group forminput">

				                    							 <label for="age">{{site.data.content.age}}</label>
													    <select class="form-control" id="age" name="Age" placeholder="{{site.data.content.choose}}" required oninvalid="this.setCustomValidity('{{site.data.content.age-missing}}')" oninput="setCustomValidity('')">


													      <option value="" selected disabled>{{site.data.content.choose}}</option>
													      {% for age in site.ages %}
													      <option>{{age.name}}</option>
													      {% endfor %}
													    </select>


														</div>

																<div class="col-lg-6 form-group forminput">

				                    							 <label for="sex">{{site.data.content.sex}}</label>
													    <select class="form-control" id="sex" name="Gender" placeholder="{{site.data.content.choose}}" required oninvalid="this.setCustomValidity('{{site.data.content.sex-missing}}')" oninput="setCustomValidity('')">


													      <option value="" selected disabled>{{site.data.content.choose}}</option>
													      
													      <option>{{site.data.content.sex-boy}}</option>
													      <option>{{site.data.content.sex-girl}}</option>
													      
													    </select>


														</div>

														</div>
													

												<hr class="separator">



				                    			<div class="row forminput">

												<input type="text" class="form-control" id="email" name="email" placeholder="E-mail" required oninvalid="this.setCustomValidity('{{site.data.content.email-missing}}')" oninput="setCustomValidity('')">
												</div>


									


												<div class="row forminput">
												<textarea class="form-control" type="textarea" id="message" placeholder="{{site.data.content.contact-placeholder}}" maxlength="140" rows="8" required oninvalid="this.setCustomValidity('{{site.data.content.message-missing}}')" oninput="setCustomValidity('')"></textarea>
				                    			</div>

				                    			
												</div>


				                    			<div class="row forminput">

				                    			<button type="submit" id="submit" name="submit" class=" btn-ttu pull-right ">
				                    				<div id="btn-text">{{site.data.content.send-btn}}</div>
				                    				<span><div class="loader hidden center-block"></div></span>
					        					</button>
					        					<div id="success" class="pull-right response hidden">

					        					<span><img src="../img/success.svg"></span>
					        					<div class="response-text">{{site.data.content.success}}</div>


					        					

					        					</div> 



					        					<div id="error" class="pull-left response hidden">

					        					<span><img src="../img/error.svg"></span>	

					        					<div class="response-text">{{site.data.content.error}}</div>


					        					

					        					</div> 




					        					</div>

											</div>
				                    	</div>
				                    </div>


					        		
					        	</form>
					   	 		</div>
							</div>


			</div>

		</div>

</section>
<!-- /.banner -->