<section id="contact">
	<!-- <div class="banner"> -->
		<div class="container contact">

			<div class="row">
						<div class="col-sm-6 text-left contact-punchline">
							<h2 class="contact-title">{{site.data.content.contact-heading}}<br>{{site.data.content.contact-sub}}</h2>
								<!-- <ul class="list-inline banner-social-buttons">
									{% for social in site.social %}
									<li>
										<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
									</li>
									{% endfor %}
								</ul> -->
							</div>



						<div class="col-sm-6 contact-form center-block">
							
						    <div class="form-area"> 
						    	
						        <form id="ttu-form" role="form" novalidate>

                                <div class="field">
                                    <select class="field-control" id="location-interest" name="Location" required
                                            oninvalid="this.setCustomValidity('{{ site.data.content.location-missing }}')"
                                            oninput="setCustomValidity('')">
                                        <option value="" selected disabled></option>
                                        {% for location in site.locations %}
                                        <option>{{ location.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label class="field-label" for="location-interest">{{ site.data.content.location-interest-description }}</label>
                                </div>

                                <div class="field-row">
                                    <div class="field">
                                        <select class="field-control" id="age" name="Age" required
                                                oninvalid="this.setCustomValidity('{{ site.data.content.age-missing }}')"
                                                oninput="setCustomValidity('')">
                                            <option value="" selected disabled></option>
                                            {% for age in site.ages %}
                                            <option>{{ age.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label class="field-label" for="age">{{ site.data.content.age }}</label>
                                    </div>

                                    <div class="field">
                                        <select class="field-control" id="sex" name="Gender" required
                                                oninvalid="this.setCustomValidity('{{ site.data.content.sex-missing }}')"
                                                oninput="setCustomValidity('')">
                                            <option value="" selected disabled></option>
                                            <option>{{ site.data.content.sex-boy }}</option>
                                            <option>{{ site.data.content.sex-girl }}</option>
                                        </select>
                                        <label class="field-label" for="sex">{{ site.data.content.sex }}</label>
                                    </div>
                                </div>

                                <div class="field">
                                    <input class="field-control" type="email" id="email" name="email" placeholder=" " required
                                           oninvalid="this.setCustomValidity('{{ site.data.content.email-missing }}')"
                                           oninput="setCustomValidity('')">
                                    <label class="field-label" for="email">{{ site.data.content.email-label }}</label>
                                </div>

                                <div class="field">
                                    <textarea class="field-control" id="message" name="message" placeholder=" " rows="6" maxlength="400" required
                                              oninvalid="this.setCustomValidity('{{ site.data.content.message-missing }}')"
                                              oninput="setCustomValidity('')"></textarea>
                                    <label class="field-label" for="message">{{ site.data.content.contact-placeholder }}</label>
                                </div>

                                <div class="form-actions">
                                    <button type="submit" id="submit" name="submit" class="btn-ttu">
                                        <div id="btn-text">{{ site.data.content.send-btn }}</div>
                                        <span><div class="loader hidden"></div></span>
                                    </button>

                                    <div id="success" class="response hidden">
                                        <span><img src="/img/success.svg" alt=""></span>
                                        <div class="response-text">{{ site.data.content.success }}</div>
                                    </div>

                                    <div id="error" class="response hidden">
                                        <span><img src="/img/error.svg" alt=""></span>
                                        <div class="response-text">{{ site.data.content.error }}</div>
                                    </div>
                                </div>

                            </form>
					   	 		</div>
							</div>


			</div>

		</div>

</section>
<!-- /.banner -->