<!-- Footer -->
<footer>
    <div class="container">

        <div class="row footer-row">

            <div class="col-md-4 footer-col footer-details">
                <a class="footer-item" href="mailto:{{ site.email }}">
                    <img class="footer-icon" alt="" src="/img/ic_email_black_24px.svg">
                    <span>{{ site.email }}</span>
                </a>
                <a class="footer-item" href="tel:{{ site.data.content.phone | remove: ' ' }}">
                    <img class="footer-icon" alt="" src="/img/ic_phone_black_24px.svg">
                    <span>{{ site.data.content.phone }}</span>
                </a>
                <p class="footer-item">
                    <img class="footer-icon" alt="" src="/img/ic_home_black_24px.svg">
                    <span>{{ site.address }}</span>
                </p>
            </div>

            <div class="col-md-4 footer-col footer-social">
                {% for social in site.social %}
                <a class="footer-item" href="{{ social.url }}" target="_blank" rel="noopener">
                    <img class="footer-icon" alt="" src="{{ social.img }}">
                    <span>{{ social.title | capitalize }}</span>
                </a>
                {% endfor %}
            </div>

            <nav class="col-md-4 footer-col footer-sitemap">
                <a href="/meist">{{ site.data.content.nav-about }}</a>
                <a href="/spordiklass">{{ site.data.content.nav-spordiklass }}</a>
                <a href="/sporditeraapia">{{ site.data.content.nav-sporditeraapia }}</a>
                <a href="/#contact">{{ site.data.content.nav-contactbutton }}</a>
                <a href="{{ site.timetableUrl }}" target="_blank" rel="noopener noreferrer">{{ site.data.content.timetable }}</a>
            </nav>

        </div>

        <div class="footer-bottom">
            <img class="footer-mark" src="/img/taltech.svg" alt="TalTech Korvpallikool">
            <p class="footer-copyright">{{ site.data.content.copyright }}</p>
        </div>

    </div>
</footer>
