<!-- Navigation -->

<section id="home">
<!-- Header -->
	<div class="intro-header">

        <div id="video-overlay"></div>

        <video autoplay loop muted poster="/img/placeholder.jpeg" id="video">


        <source src="/img/ttu-video-web.mp4" type="video/mp4">
        <source src="/img/ttu-video-web.webm" type="video/webm">

        </video>




		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<div class="intro-message text-left">
						<h1>{{site.data.content.title}}</h1>
						
						
                        <h2 class="subtitle">{{site.data.content.subtitle}}</h2>
                        <a  href="#contact" id="contactbutton">{{site.data.content.nav-contactbutton}}</a>
						<!-- <ul class="list-inline intro-social-buttons">
							{% for social in site.social %}
							<li>
								<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
							</li>
							{% endfor %}
						</ul> -->
					</div>
				</div>

			</div>

		</div>

		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
