 <head>


                    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108664795-1"></script>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-108664795-1');
        </script>


                <!-- Hotjar Tracking Code for www.ttukorvpallikool.ee -->
           <!--  <script>
                (function(h,o,t,j,a,r){
                    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                    h._hjSettings={hjid:669491,hjsv:6};
                    a=o.getElementsByTagName('head')[0];
                    r=o.createElement('script');r.async=1;
                    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                    a.appendChild(r);
                })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
            </script> -->



    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    
    <meta name="description" content="{{ site.data.content.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" href="/img/pall.png">

    <title>{{ site.data.content.title-tag }}</title>

    {%- comment -%}
      Canonical and hreflang. Polyglot's I18n_Headers emitted hreflang="ee",
      which is not a valid ISO 639-1 code for Estonian, so search engines
      ignored it. Built here instead using site.lang_codes.
    {%- endcomment -%}
    {%- assign lang_prefix = '' -%}
    {%- unless site.active_lang == site.default_lang -%}
      {%- assign lang_prefix = site.active_lang | prepend: '/' -%}
    {%- endunless -%}
    {%- assign canonical = site.url | append: lang_prefix | append: page.url -%}

    <link rel="canonical" href="{{ canonical }}">
    {% for lang in site.languages -%}
      {%- assign p = '' -%}
      {%- unless lang == site.default_lang %}{% assign p = lang | prepend: '/' %}{% endunless -%}
    <link rel="alternate" hreflang="{{ site.lang_codes[lang] }}" href="{{ site.url }}{{ p }}{{ page.url }}">
    {% endfor -%}
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ page.url }}">

    <!-- Open Graph / Twitter -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site.data.content.logo-title }}">
    <meta property="og:title" content="{{ site.data.content.title-tag }}">
    <meta property="og:description" content="{{ site.data.content.description }}">
    <meta property="og:url" content="{{ canonical }}">
    <meta property="og:image" content="{{ site.url }}{{ site.share_image }}">
    <meta property="og:locale" content="{{ site.lang_codes[site.active_lang] }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ site.data.content.title-tag }}">
    <meta name="twitter:description" content="{{ site.data.content.description }}">
    <meta name="twitter:image" content="{{ site.url }}{{ site.share_image }}">

    <!-- Font: Mulish, the closest free stand-in for the brand's Proxima Nova.
         latin-ext covers Estonian diacritics, cyrillic covers the RU pages. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900&display=swap" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">




    <!-- Custom CSS -->
    <link href="/css/landing-page.css" rel="stylesheet">
   
    


</head>