<section id="logos">

	<div class="logos">
	    <div class="row">
	        	<a href="#contact">
		             <div  class="row locations">
		          		{% for location in site.locations %}
		              		<span align="center">{{location.name}}</span>
		          		{% endfor %}

			        </div>
	        	</a>
     

	    </div>


	        	<div class="row container center center-block">
	        		
	        		{% for gallery in site.data.galleries %}
					  	{% if gallery.id == "logos" %}
					    	{% for image in gallery.images %}
							     <div class="img-logo">
							        <a href="{{ image.url}}" target="_blank"><img alt="{{image.alt}}" src="{{ gallery.imagefolder }}/{{ image.name }}"></a>
							 	</div>
					    	{% endfor %}
					  
					  	{% endif %}
					{% endfor %}
	        		
					</div>

	</div>
	        	
				
	        
	
  
</section>