<section id="club-logos">

	<div class="logos">
	    <div class="row">
		             <div class="row locations">
		          		{% for location in site.locations %}
		              		<a class="page-scroll location-link" href="#contact" data-location="{{ location.name }}">{{ location.name }}</a>
		          		{% endfor %}

			        </div>
     

	    </div>


	        	<div class="row logos container center center-block">
	        		
	        		{% for gallery in site.data.galleries %}
					  	{% if gallery.id == "logos" %}
					    	{% for image in gallery.images %}
							     <div class="img-logo">
							        <a href="{{ image.url}}" target="_blank"><img alt="{{image.alt}}" src="{{ gallery.imagefolder }}/{{ image.name }}"></a>
							 	</div>
					    	{% endfor %}
					  
					  	{% endif %}
					{% endfor %}
	        		
					</div>

	</div>
	         
	
  
</section>