<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  
  <div class="sidenav-links">
    <a class="page-scroll" href="#about" onclick="closeNav()">{{site.data.content.nav-about}}</a>
    <a class="page-scroll" href="#contact" onclick="closeNav()">{{site.data.content.nav-contactbutton}}</a>
    <a class="page-scroll" href="/spordiklass" onclick="closeNav()">{{site.data.content.nav-spordiklass}}</a>
    <a class="page-scroll" href="/sporditeraapia" onclick="closeNav()">{{site.data.content.nav-sporditeraapia}}</a>
  </div>
  
  <div class="sidenav-languages">
    <a href="../" class="language"> <span>Eesti</span></a>
    <a href="/en/" class="language"> <span>English</span></a>
    <a href="../ru/" class="language"><span>Русский</span></a>
  </div>
                   
</div>

<div id="sidenavOverlay" class="sidenav-overlay" onclick="closeNav()"></div>

