<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  
  <div class="sidenav-links">
    <a class="page-scroll" href="#about" onclick="closeNav()">{{site.data.content.nav-about}}</a>
    <a class="page-scroll" href="#contact" onclick="closeNav()">{{site.data.content.nav-contactbutton}}</a>
    <a class="page-scroll" href="/spordiklass" onclick="closeNav()">{{site.data.content.nav-spordiklass}}</a>
    <a class="page-scroll" href="/sporditeraapia" onclick="closeNav()">{{site.data.content.nav-sporditeraapia}}</a>
  </div>
  
  <div class="sidenav-languages">
    <a id="navEst" href="../" class="language"> <img id="imgNavEst" src="../img/EE.svg" alt="Estonian" class="img-thumbnail icon-small">  <span id="lanNavEst">Eesti</span></a>
    <a id="navEng" href="/en/" class="language"><img id="imgNavEng" src="../img/GB.svg" alt="English" class="img-thumbnail icon-small">  <span id="lanNavEng">English</span></a>
    <a id="navRus" href="../ru/" class="language"><img id="imgNavRus" src="../img/RU.svg" alt="Russian" class="img-thumbnail icon-small">  <span id="lanNavRus">Русский</span></a>
  </div>
                   
</div>

<div id="sidenavOverlay" class="sidenav-overlay" onclick="closeNav()"></div>

