<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="page-scroll" href="#about" onclick="closeNav()">{{site.data.content.nav-about}}</a>
  <a class="page-scroll" href="#contact" onclick="closeNav()">{{site.data.content.nav-contact}}</a>
  <a class="page-scroll" href="#contact" onclick="closeNav()">{{site.data.content.nav-contactbutton}}</a>
 
  <a id="navEst" href="../" class="language"> <img id="imgNavEst" src="../img/EE.svg" alt="..." class="img-thumbnail icon-small">  <span id="lanNavEst">Eesti</span></a>
                       
  <a id="navEng" href="/en/" class="language"><img id="imgNavEng" src="../img/GB.svg" alt="..." class="img-thumbnail icon-small">  <span id="lanNavEng">English</span></a>

  <a id="navRus" href="../ru/" class="language"><img id="imgNavRus" src="../img/RU.svg" alt="Russian" class="img-thumbnail icon-small">  <span id="lanNavRus">Русский</span></a>

                   
</div>

