<section id="logos">

	        <div class="container sponsors ">
	        	<div class="col-lg-12">
	        	<div class="row">
	        		
	        		{% for gallery in site.data.galleries %}
					  	{% if gallery.id == "sponsors" %}
					    	{% for image in gallery.images %}
							     <div class="img-sponsor col-sm-4">
							        <a href="{{ image.url}}" target="_blank">
							          <img src="{{ gallery.imagefolder }}/{{ image.name }}">
							        </a>
							 	</div>
					    	{% endfor %}
					  
					  	{% endif %}
					{% endfor %}
	        		
				
	        		</div>
				</div>
	        </div>
	
  
</section>