    <!-- Sporditeraapia Section -->
    <section id="sporditeraapia" class="sporditeraapia-container">
    
        <div class="sporditeraapia">
          <div class="container">
              <div class="row sporditeraapia-content">
                <div class="col-lg-6">
                    <h2>{{site.data.content.sporditeraapia-title}}</h2>
                    <br>
                    <p class="lead sporditeraapia-paragraph">{{site.data.content.sporditeraapia-intro}}</p>

                    <a href="/sporditeraapia/" id="readMore" name="readMore" class="btn-ttu-inverse pull-left">
                        <div id="btn-sporditeraapia">{{ site.data.content.sporditeraapia-btn-readmore }}</div>
                        
                    </a>
                    
                </div>

                <div class="col-lg-6">
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/tDisYSObiZw?si=wovH02kFCR1sG5KK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                </div>
                
                
                
              </div>
  
                </div>
  
              </div>
         
          <!-- /.container -->
  
      
      </section>
  
