    <!-- Sporditeraapia Section -->
    <section id="sporditeraapia" class="sporditeraapia-container">
    
        <div class="sporditeraapia">
          <div class="container">
              <div class="row sporditeraapia-content">
                <div class="col-lg-6">
                    <h2>{{site.data.content.sporditeraapia-title}}</h2>
                    <br>
                    <p class="lead sporditeraapia-paragraph">{{site.data.content.sporditeraapia-intro}}</p>

                    <a href="/sporditeraapia/" id="readMore" name="readMore" class="btn-ttu-inverse pull-left">{{ site.data.content.sporditeraapia-btn-readmore }}</a>
                    
                </div>

                <div class="col-lg-6">
                    {% include video-preview.html %}

                </div>
                
                
                
              </div>
  
                </div>
  
              </div>
         
          <!-- /.container -->
  
      
      </section>
  
