<section id="spordiklass">
  <div class="container">
    <div class="spordiklass">
      <div class="row spordiklass-content">
        <div class="spordiklass-copy">
          <h2>{{ site.data.content.spordiklass-title }}</h2>
          <br>
          <p class="lead spordiklass-paragraph">{{ site.data.content.spordiklass-content }}</p>
        </div>
        <div class="spordiklass-media">
          {% include video-preview.html %}
        </div>
        <div class="spordiklass-actions">
          <a href="/spordiklass/" id="readMore" class="btn-ttu-inverse">{{ site.data.content.spordiklass-btn-readmore }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
