<!DOCTYPE html>
<html lang="{{ site.lang_codes[site.active_lang] }}">
	{% include head.html %}

	<body>

	<div id="wrapper">
		{% include navbar.html %}
		{% include sidebar.html %}
		<main>
		{% include header.html %}
		{% include locations.html %}
		{% include instagram.html %}
		{% include union.html %}
		{% include page_content.html %}	
		{% include spordiklass.html %}
		{% include contact.html %}
		
		{% include sponsors.html %}
		</main>
		{% include footer.html %}
		{% include js.html %}
	
	 </div>
	</body>

</html>
