<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>

	<div id="wrapper">
	<div class="page-loader"><div id="page-spinner"></div></div>
		{% include navbar.html %}
		{% include header.html %}
		{% include sidebar.html %}
		{% include about.html %}
		{% include logos.html %}
		{% include page_content.html %}	
		{% include spordiklass.html %}
		{% include contact.html %}
		
		{% include sponsors.html %}
		{% include footer.html %}
		{% include js.html %}
	
	 </div>
	 <script>
		if (window.netlifyIdentity) {
		  window.netlifyIdentity.on("init", user => {
			if (!user) {
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  });
		}
	  </script>
	</body>

</html>
